.navigation-list{
    ul{
        display: flex;
    }

    li:not(:last-child){
        margin-right: 42px;
    }

    a{
        color: #323232;
        text-decoration: none;
        transition: .3s;
        

        &:hover{
            color: &accent;
        }

        &.active{
            color: &accent;
            font-weight: 700;
        }
    }
}